.dq_accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px;
  text-align: left;
  border: none;
  outline: none;
  margin: 0;
  position: relative;
  font-size: 18px;
}
.dq_accordion.dq_accordion_rotated_icon {
  padding-left: 36px;
}
.dq_accordion::before, .ui-accordion-header-active::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.dq_accordion:not(.noHover):hover::before, .ui-accordion-header-active::before {
  opacity: 0.1;
}
.dq_accordion_panel {
  padding: 0 18px;
  background-color: #fff;
  display: none;
  overflow: hidden;
}
.ui-icon {
  background: none;
  text-indent: 0;
  font-family: fontawesome;
  margin-right: 8px;
  font-size: 120%;
}
.dq_accordion.dq_accordion_rotated_icon .ui-icon {
  position: absolute;
  left: 12px;
  -webkit-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -ms-transition: transform .3s linear;
  transition: transform .3s linear;
}
.dq_accordion.dq_accordion_rotated_icon.ui-state-active .ui-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
