.irs .irs-from,
.irs .irs-to,
.irs .irs-single {
  z-index: 1;
}

#busyGif {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -16px;
  z-index: 999999;
  animation: fadeIn 0.5s ease-in forwards;
}

.dq-btn-sm {
  min-width: 50px;
  border: 0 !important;
  padding: 0 !important;
}

.dq-btn-sm:hover {
  font-weight: 900;
}

.disabled-date-input {
  position: relative;
}

.disabled-date-input::before {
  display: block;
  width: 100%;
  height: 150%;
  position: absolute;
  z-index: 1;
  content: " ";
  background: transparent;
  cursor: not-allowed;
}

.disabled-date-input input[type="text"] {
  background: #eee;
}

.selectize-control.single .selectize-input.disabled {
  cursor: not-allowed !important;
  opacity: 1;
  background-color: #eee;
}

.form-group input[type="time"].form-control {
  line-height: 1;
}

input:invalid {
	box-shadow: 0 0 3px red;
}

/* ################# dq-info-box ###################### */

.dq-info-box-wrapper:hover .dq-box {
  opacity: 0.9;
}
.dq-info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.dq-info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.dq-info-box-icon > img {
  max-width: 100%;
}
.dq-info-box-content {
  padding: 8px 16px;
}
.dq-info-box-icon + .dq-info-box-content {
  margin-left: 90px;
  padding: 5px 10px;
}
.dq-info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.dq-info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.dq-info-box-more {
  display: block;
}

/* ################### dq-box ####################### */
.dq-box-wrapper {
  margin-bottom: 20px;
}
.dq-box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.dq-box-header {
  color: #444;
  display: block;
  padding: 10px 15px;
  position: relative;
}
.dq-box-header.collapsible {
  cursor: pointer;
}
.dq-box-header > .fa,
.dq-box-header > .glyphicon,
.dq-box-header > .icon,
.dq-box-header .dq-box-title {
  display: inline-block;
  font-size: 22px;
  margin: 0;
  line-height: 1;
  padding: 0;
}
.dq-box-header > .fa,
.dq-box-header > .glyphicon,
.dq-box-header > .icon {
  margin-right: 5px;
}
.dq-box-header .collapser-wrapper {
  position: absolute;
  right: 5px;
  top: 5px;
}
.dq-box-header .collapser, .dq-box-header .collapser:active, .dq-box-header .collapser:focus {
	padding: 5px 10px;
	border-width: 2px;
	color: #000;
	background: #fff;
	font-size: 13px;
	box-shadow: none;
	border-color: transparent;
}
.dq-box-header .collapser[aria-expanded="true"] .fa:before {
  content: "\f068";
}
.dq-box-header .collapser[aria-expanded="false"] .fa:before {
  content: "\f067";
}
.dq-box-header .collapser:hover {
  border-color: #fff;
  background: transparent;
  color: #000;
}
.dq-box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 10px 0;
}
.dq-box-body.in {
  padding: 10px;
}
.dq-box-body.not-filled {
  background-color: #fff;
}
.no-header .dq-box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.dq-box-body > .row {
	margin-left: -10px;
	margin-right: -10px;
}

/* ################# dq-help ################## */

.dq-help,
.video-button {
  display: inline-block;
  cursor: help;
  color: #ff8f00;
  font-size: 20px;
  position: relative;
  line-height: 1;
}

.dq-help-inner {
  display: none;
  opacity: 0;
  background-color: #fff;
  border: 2px solid #ff8f00;
  border-radius: 5px;
  width: 200px;
  max-height: 250px;
  overflow: auto;
  padding: 5px 10px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 130%;
  top: -50%;
  z-index: 10;
  line-height: 1.3;
}

.dq-help.on-hover:hover .dq-help-inner,
.dq-help.on-focus:focus .dq-help-inner {
  display: block;
  -webkit-animation: fadeIn 0.5s ease-out forwards;
  -moz-animation: fadeIn 0.5s ease-out forwards;
  animation: fadeIn 0.5s ease-out forwards;
}

/* ################## dq-icon ################## */

i.dq-icon {
  font-size: 1em;
  vertical-align: initial;
}

img.dq-icon {
  height: 1em;
  vertical-align: initial;
}

i.dq-icon-xs {
  font-size: 0.3em;
}
i.dq-icon-sm {
  font-size: 0.5em;
}
i.dq-icon-lg {
  font-size: 0.75em;
}
i.dq-icon-2x {
  font-size: 2em;
}
i.dq-icon-3x {
  font-size: 3em;
}
i.dq-icon-4x {
  font-size: 4em;
}
i.dq-icon-5x {
  font-size: 5em;
}
i.dq-icon-6x {
  font-size: 6em;
}
i.dq-icon-7x {
  font-size: 7em;
}
i.dq-icon-8x {
  font-size: 8em;
}
i.dq-icon-9x {
  font-size: 9em;
}
i.dq-icon-10x {
  font-size: 10em;
}

img.dq-icon-xs {
  height: 0.3em;
}
img.dq-icon-sm {
  height: 0.5em;
}
img.dq-icon-lg {
  height: 0.75em;
}
img.dq-icon-2x {
  height: 2em;
}
img.dq-icon-3x {
  height: 3em;
}
img.dq-icon-4x {
  height: 4em;
}
img.dq-icon-5x {
  height: 5em;
}
img.dq-icon-6x {
  height: 6em;
}
img.dq-icon-7x {
  height: 7em;
}
img.dq-icon-8x {
  height: 8em;
}
img.dq-icon-9x {
  height: 9em;
}
img.dq-icon-10x {
  height: 10em;
}

/* ############### dq-html-table ################# */

.dq-html-table {
  width: 100%;
}

.dq-html-table td, .dq-html-table th {
  border: 1px solid transparent;
  padding: 2px 4px;
}

.dq-html-table th {
  border-bottom-width: 2px;
}

.dq-html-table .align-left {
  text-align: left;
}

.dq-html-table .align-right {
  text-align: right;
}

.dq-html-table .align-center {
  text-align: center;
}

.dq-html-table .right {
  border-right-color: #777;
}

.dq-html-table .left {
  border-left-color: #777;
}

.dq-html-table .top {
  border-top-color: #777;
}

.dq-html-table .bottom {
  border-bottom-color: #777;
}

.dq-html-table .form-group {
	margin: 2px 0;
}

/* ################# filter-row ################## */

.filter-row {
  padding: 0 15px 15px;
}

.filter-row > div {
  margin: 0;
  padding: 0 5px;
  display: table-cell;
  vertical-align: middle;
}

.filter-row > .reset-wrapper {
  padding: 0;
}

.filter-row .selectize-control {
  margin: 0;
  max-height: 35px;
}

.filter-row.sorting .form-group {
  position: relative;
  padding-right: 18px;
}

.filter-row .sort-button {
  border: 0;
  color: #ff8f00;
  padding: 0 3px;
  position: absolute;
  right: 3px;
  top: 20%;
  height: 60%;
  background: 0;
  line-height: 1;
}

.filter-row .sort-button:hover {
  background-color: #ddd;
}

.paging-row > div:not(:last-child) {
  padding-right: 0;
}

.paging-row .form-group {
  margin: 15px 0;
}

.paging-row .selectize-control.single .selectize-input {
	text-align: center;
}

.paging-row .selectize-control.single .selectize-input::after {
	display: none;
}

.video-wrapper {
  max-width: 70%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -2000px;
  background: #fff;
  z-index: 9;
  border: 2px solid #666;
  border-radius: 5px;
  box-shadow: 0 0 20px #333;
  transition: top 0.5s ease-in-out;
}

.video-wrapper.shown {
  top: 80px;
}

.video-title {
  display: inline-block;
  padding: 8px;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@-webkit-keyframes shadowPulse {
  0% {
    box-shadow: 0 0 10px rgba(255, 79, 0, 1);
    background-color: #ff4f00;
    color: #fff;
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 79, 0, 0);
  }
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 10px rgba(255, 79, 0, 1);
    background-color: #ff4f00;
    color: #fff;
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 79, 0, 0);
  }
}

.dq-highlighted {
  -webkit-animation: shadowPulse 1s ease-out 1;
  animation: shadowPulse 1s ease-out 1;
}
