.rhandsontable .selectize-input {
  min-height: 0;
  min-width: 250px;
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.handsontable {
  overflow: visible;
}
.selectize-control.multi .selectize-input .item {
  background: #ffa91a;
}
.selectize-dropdown .active {
  background-color: #ffc233;
}
.selectize_item {
  background: #eee;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 5px;
}
